body {
    background-image: url(Butterflybackground.jpeg);
    background-repeat: no-repeat;
    background-size: 1100px;
    font-family: 'Kalam', cursive;
    color: black;
    font-weight: bolder;
}

.main-container {
    width: 300px;
   padding: 10px;
   border: 15px solid yellowgreen;
   margin: 20px;
   }
